:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    cursor: default;
}

#navbar {
    background-color: var(--bs-white);
    height: 75px;
    z-index: 100;
}

#navbar.scrolled {
    background-color: var(--bs-dark);
    color: #FFF;
}
#navbar.scrolled a {
    color: #FFF;
}
#navbar.scrolled .dropdown-menu{
    background-color: var(--bs-dark);
}
#navbar.scrolled .dropdown-menu a:hover {
    color: var(--bs-red);
    background-color: var(--bs-dark);
}
#navbar.scrolled a:hover {
    color: var(--bs-blue);
}
#navbar.scrolled #singing_button {
    background-color: var(--bs-white);
    color: black;
}

.navbar a,
.navbar a:focus {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 4px solid transparent;
}

.navbar a:hover {
    color: var(--bs-blue);
}

#navbar a.active,
.nav-link.active,
.nav-link.active:hover,
.nav-link.active:focus {
    color: var(--bs-blue);
    border-color: var(--bs-blue);
}

.dropdown-menu a:hover {
    color: var(--bs-red);
}

#singing_button {
    border-radius: 20px;
}

#ads img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#ads img:hover {
    cursor: pointer;
}

#container {
    width: 100%;
}

#category_name{
    display: inline-block;
    padding: 0;
    color: var(--bs-red);
    border-bottom: 3px solid var(--bs-red);
}

#container .col .card {
    height: 25rem;
    opacity: 0.95;
    transition: 0.3s;
}

#container .col .card:hover {
    opacity: 1;
    cursor: pointer;
    transform: translateY(-2px);
    transition: 0.2s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#container .col .card img {
    height: 19.5rem;
}